@font-face {
  font-family: ltao;
  src: url(./fonts/Lato-Black.ttf);
}
@font-face {
  font-family: ltao1;
  src: url(./fonts/Lato-Light.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navbar */
.bg-img {
  background-image: url(img/bg.webp);
  width: 100%;
  height: 100vh;
  background-blend-mode: multiply;
  filter: saturate(80%) contrast(85%);
  background-color: rgb(105, 105, 143);
}
.search {
  width: 40%;
  border-radius: 50px;
  background-color: transparent;
  background-image: url(img/white-search-icon.jpg);
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
  background-size: 24px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  height: 7vh;
}
.search::placeholder {
  color: white;
  font-size: 20px;
  padding-left: 1%;
}
.search[type="text"]:focus {
  outline: none;
}

.nav-link {
  font-size: 20px !important;
  color: white !important;
}
.nav-link:hover {
  color: #0dcaf0 !important;
}
.dropdown-menu {
  background-color: rgba(3, 3, 30, 0.7) !important;
}
.dropdown-menu a {
  text-decoration: none;
}
.sign {
  font-size: 20px;
  transition: 0.2s ease;
  color: white;
  transition: 0.2s ease;
  margin: 0px 10px;
}
.sign:hover {
  color: #0dcaf0;
}
.animated-but {
  background-color: #0dcaf0;
  border: none;
  border-radius: 50px;
  font-family: ltao1;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  transition: color 0.5s linear;
  position: relative;
}
.animated-but:hover {
  color: rgb(255, 255, 255) !important;
}
.animated-but::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #1a213d;
  border-radius: 50px;
  z-index: 1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  color: white !important;
}
.animated-but::before {
  transform: scaleX(0);
}
.animated-but:hover::before {
  transform: scaleX(1);
}
/* text in img  */
.bg-heading {
  font-family: ltao;
  color: white;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}
.bg-para {
  color: white;
  text-align: center;
  font-family: ltao1;
  font-size: 24px;
  font-weight: 500;
}
/* form section */
.form-div1 {
  width: 57%;
  margin: auto;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 1%;
}
.what {
  position: absolute;
  top: 54.8%;
  z-index: 1;
  left: 23.2%;
  color: black !important;
  font-family: ltao1;
  font-weight: bold;
}

.inp-what {
  position: relative;
  height: 9vh;
  box-sizing: border-box;
  padding-left: 10%;
  border-radius: 7px;
  border: none;
  margin-right: 0.5%;
}
.inp-what[type="text"]:focus {
  outline: none;
}
.where {
  position: absolute;
  top: 54.8%;
  z-index: 1;
  left: 46%;
  color: black !important;
  font-family: ltao1;
  font-weight: bold;
}
.inp-where {
  position: relative;
  height: 9vh;
  box-sizing: border-box;
  padding-left: 10%;
  border-radius: 7px;
  border: none;
}
.inp-where[type="text"]:focus {
  outline: none;
}
.but-search {
  padding: 15px;
  height: 9vh;
  border: none;
  background-color: #0dcaf0;
  color: white;
  font-family: ltao1;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-left: 1%;
}
.button-div {
  /* margin-left: 30%; */
  display: flex;
  justify-content: center;
}
.div-but1 {
  display: flex;
  justify-content: space-around;
}
.div-but2 {
  display: flex;
  justify-content: center;
  margin-left: 1%;
}
.but-1 {
  padding: 9px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-family: ltao1;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.2s ease;
  margin-right: 1%;
  cursor: pointer;
}
.but-1:hover {
  background-color: #3329c5;
}
.but-2 {
  padding: 9px 20px;
  background-color: #2948c5;
  color: white;
  font-family: ltao1;
  border: none;
  border-radius: 50px;
  margin-right: 1%;
}
/* destination section  */
.dest-div {
  display: flex;
}
.top-h1 {
  text-align: center;
  font-family: ltao;
  margin-top: 3%;
}
.desti-img {
  position: relative;
}
.det-h1 {
  font-size: 24px;
  font-family: ltao;
  padding-top: 10%;
  transition: 0.2s ease;
  cursor: pointer;
}
.det-h1:hover {
  color: #0dcaf0;
}
.image-container {
  position: relative;
  display: inline-block;
}

.circle {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 133px;
  height: 133px;
  border: 2px dotted white;
  border-radius: 50%;
  background-color: rgba(8, 20, 104, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* animation: rotate 2s linear infinite; */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container:hover .circle {
  opacity: 1;
}
/* thing-section */
.thing-div {
  background-color: #f1f6f9;
}
.thing-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thing-img1-div {
  display: block;
}
.t-img-1 {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
  margin-right: 1%;
  margin-bottom: 3%;
}
.t-img-1 .t-img {
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
  cursor: pointer;
  /* background-blend-mode: multiply;
  filter: saturate(70%) contrast(85%);
  background-color: rgb(98, 98, 139); */
  background-blend-mode: multiply;
  filter: brightness(90%) contrast(70%) saturate(80%);
}
.t-img-1:hover .t-img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.t-img-3 {
  height: 420px;
  overflow: hidden;
  border-radius: 7px;
  margin: 0px 1%;
}
.t-img-3 .t-img {
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
  cursor: pointer;
  background-blend-mode: multiply;
  filter: brightness(90%) contrast(70%) saturate(80%);
}
.t-img-3:hover .t-img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.t-text {
  color: white;
  font-family: ltao;
  position: absolute;
  margin-top: -4%;
  font-size: 20px;
  margin-left: 2.5%;
}
.t-text2 {
  color: white;
  font-family: ltao1;
  position: absolute;
  margin-top: -16%;
  width: 18%;
  margin-left: 2.5%;
}
.t-but {
  background-color: #0dcaf0;
  color: white;
  font-family: ltao;
  border-radius: 50px;
  padding: 10px 25px;
  border: none;
  transition: 0.3s ease-in-out;
}
.t-but:hover {
  background-color: white;
  color: #0dcaf0;
  font-family: ltao;
}
/* explore section */
.explore-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #b9b9b9;
  width: 50%;
  margin: auto;
  padding: 2%;
}
.exp-head {
  font-family: ltao;
  font-size: 24px;
  color: #1a213d;
}
.e-p2 {
  font-family: ltao1;
  font-weight: 700;
}
.exp-but {
  padding: 17px 24px;
}
/* work section */
.work-div {
  background-color: #f1f6f9;
}
.work {
  text-align: center;
  color: #1a213d;
  font-family: ltao;
  padding-top: 6%;
}
.w-h1 {
  color: #1a213d;
  font-family: ltao;
  padding-top: 4%;
  font-size: 25px;
  transition: 0.2s ease;
}
.w-h1:hover {
  color: #0dcaf0;
}
.w-p {
  color: #212529;
  font-family: ltao1;
}
/* .navbar{
  transition: all 0.5s;
}
.navbar-scrolled{
  background-color: rgb(15, 15, 124, 0.3);
} */
/* people talking about */

.p-h1 {
  font-family: ltao;
  margin-bottom: 8%;
}
.p-content {
  background-color: #f1f6f9;
  font-family: ltao1;
  width: 80%;
  font-size: 20px;
  text-align: start;
  /* padding: 7%; */
  padding: 30px 100px 30px 40px;
  margin: auto;
  font-weight: bold;
}
.f-h3 {
  font-family: ltao;
  font-size: 20px;
  padding-top: 4%;
}
.people-main-div {
  overflow-x: scroll;
  display: flex;
  width: auto;
  /* height: auto; */
}
.people-content {
  width: 100%;
}
.people-main-div::-webkit-scrollbar {
  display: none;
}
/* footer section  */
.main-footer {
  background-color: rgb(16, 16, 61);
  margin-bottom: -1%;
}
.foot-t {
  color: #a4a6ae;
  font-size: 16px;
  padding-top: 10%;
  line-height: 1.8;
}
.fa-flip {
  color: #0dcaf0;
}
li {
  text-decoration: none;
  color: #a4a6ae;
  list-style-type: none;
}
.li-heading {
  font-size: 20px;
}
.icon-container {
  display: inline-block;
  perspective: 1000px;
  color: #a4a6ae;
}
.icon-container i {
  display: inline-block;
  transition: transform 0.5s;
  cursor: pointer;
}
.icon-container:hover i {
  transform: rotateY(180deg);
  color: #0dcaf0;
}
.li-footer {
  padding-bottom: 8%;
  transition: 0.2s ease;
  cursor: pointer;
}
.li-footer:hover {
  text-decoration: underline;
  text-decoration-color: #a4a6ae;
}
.li-footer2 {
  padding-bottom: 8%;
  transition: 0.2s ease;
  color: #a4a6ae;
}
.foot-input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #a4a6ae;
  border-radius: 30px;
  background: none;
  color: #a4a6ae;
  outline: none;
}
.li-footer3 {
  padding-bottom: 2%;
  transition: 0.2s ease;
  color: #a4a6ae;
}
@media screen and (max-width: 768px) {
  .div-nav {
    background-color: rgba(6, 6, 5, 0.8);
    padding: 2%;
  }
  .search {
    width: 40%;
    border-radius: 50px;
    background-color: transparent;
    background-image: url(img/white-search-icon.jpg);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: center;
    background-size: 24px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    padding-right: 25px;
    padding-left: 50px;
    color: white;
    height: 7vh;
  }
  .search::placeholder {
    color: white;
    font-size: 20px;
    padding-left: 1%;
  }
  .search[type="text"]:focus {
    outline: none;
  }
  .nav-link {
    font-size: 20px !important;
    color: white !important;
    padding-left: 3% !important;
  }
  .sign {
    font-size: 20px;
    transition: 0.2s ease;
    color: white;
    transition: 0.2s ease;
    padding-left: 3%;
    margin-right: 1.7%;
    margin-left: 0;
  }
  .bg-heading {
    font-family: ltao;
    color: white;
    font-size: 37px;
    text-align: center;
    padding-top: 5%;
  }
  .bg-para {
    color: white;
    text-align: center;
    font-family: ltao1;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 2%;
  }
  .form-div1 {
    width: 90%;
    margin: auto;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: block;
    padding: 5%;
    box-sizing: border-box;
  }
  .what {
    position: absolute;
    top: 48%;
    z-index: 1;
    left: 14.2%;
    color: black !important;
    font-family: ltao1;
    font-weight: bold;
    display: block;
    visibility: hidden;
  }
  .where {
    position: absolute;
    top: 56.5%;
    z-index: 1;
    left: 14.2%;
    color: black !important;
    font-family: ltao1;
    font-weight: bold;
    visibility: hidden;
  }
  .inp-what {
    position: relative;
    height: 7vh;
    box-sizing: border-box;
    padding-left: 8%;
    border-radius: 7px;
    border: none;
  }
  .inp-what[type="text"]:focus {
    outline: none;
  }
  .inp-where {
    position: relative;
    height: 7vh;
    box-sizing: border-box;
    padding-left: 8%;
    border-radius: 7px;
    border: none;
    margin-top: 1.7%;
    margin-bottom: 1%;
  }
  .inp-where[type="text"]:focus {
    outline: none;
  }
  .but-search {
    /* padding: 15px; */
    height: 7vh;
    border: none;
    background-color: #0dcaf0;
    color: white;
    font-family: ltao1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 1.5%;
  }
  .button-div {
    margin-left: 0;
    display: block;
  }
  .div-but2 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }
  .div-but1 {
    display: flex;
    justify-content: center;
  }
  .dest-div {
    display: block;
  }
  .det-h1 {
    font-size: 24px;
    font-family: ltao;
    padding-top: 4%;
    padding-bottom: 10%;
    transition: 0.2s ease;
  }
  .thing-img-div {
    display: block;
    box-sizing: border-box;
    padding: 5%;
  }
  .t-img-1 {
    margin-bottom: 5%;
  }
  .t-img-3 {
    margin-bottom: 5%;
  }

  .t-text {
    color: white;
    font-family: ltao;
    position: absolute;
    margin-top: -10%;
    font-size: 20px;
    margin-left: 2.5%;
  }
  .t-text2 {
    color: white;
    font-family: ltao1;
    position: absolute;
    margin-top: -53%;
    width: 50%;
    margin-left: 2.5%;
  }
  .explore-div {
    display: block;
    width: 90%;
    padding: 5%;
  }
  .exp-but {
    margin-top: 5%;
  }
  .work {
    padding-top: 12%;
  }
  .p-h1 {
    font-family: ltao;
    margin-bottom: 5%;
    margin-top: 12%;
  }
  .p-content {
    background-color: #f1f6f9;
    font-family: ltao1;
    width: 90%;
    font-size: 17px;
    text-align: start;
    /* padding: 7%; */
    padding: 30px 50px 30px 40px;
    margin: auto;
    font-weight: bold;
    margin-right: 4%;
  }
  .li-footer {
    padding-bottom: 2%;
  }
}
